<!DOCTYPE html>
<html>
<head>
    <title>view repo</title>
</head>
<body>
    <h1>view repo</h1>
    <div id="path" style="display: none;">{{ path }}</div>
    <div id="file_now" style="display: none;">{{ file }}</div>
    <div id="file_names" style="display: none;">{{ files }}</div>
    <div id="file_list" style="width: 20%;"></div>
    <div>
        <form id="file_submit" action="api/change" >
            <textarea id="text" name="text" style="resize: none; width: 80%; height: 1000px;">{{ text }}</textarea>
            <input type="submit"></input>
        </form>
    </div>
    <script>
        var file_list=document.getElementById("file_names").textContent.split(" ");
        document.getElementById("file_list").innerHTML = " ";
        for (let i = 0; i < file_list.length; i++) {
            document.getElementById("file_list").innerHTML += "<a href='view_git?path=" + document.getElementById("path").textContent + file_list[i] + "'>" + file_list[i] + "</a></br>";
        }
        document.getElementById("file_submit").addEventListener("submit", function (event) {
            event.preventDefault();

            data = {
                file: document.getElementById("path").textContent + document.getElementById("file_now").textContent,
                text: document.getElementById("text").value
            }

            fetch('api/change', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                console.log(JSON.stringify(result));
            })
            .catch(error => {
                console.log('Error: ' + error.message);
            });
        });
    </script>
</body>
</html>