<!DOCTYPE html>
<html>
<head>
    <title>main page</title>
    <link rel="icon" sizes="32x32" href="{{ url_for('static', filename='images/main_icon.png') }}" type="image/png">
</head>
<body>
    <div style="display: flex">
    <h1>最上上之空間</h1>
    {% if not sess %}
        <h3 style=" position: relative; top: 15px; left: 30px;"><a href="login">登之</a></h3>
        <h3 style=" position: relative; top: 15px; left: 40px;"><a href="signup">註之</a></h3>
    {% else  %}
        <h3 style=" position: relative; top: 15px; left: 40px;"><a href="api/logout">離之</a></h3>
    {% endif  %}
    </div>
    <a href="gitlab">GitLab</a>
    </br>
    <a href="upload">遞之</a>
    </br>
    <a href="download">取之</a>
    </br>
    <a href="gallery">圖之</a>
</body>
</html>